body {
  background: #ebe8e0;
  font-family: "DINNextLTPro-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1470px;
}
@font-face {
  font-family: "Tungsten-Bold";
  src: url("assets/fonts/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2"), url("assets/fonts/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff"), url("assets/fonts/561f38b1f4570de0fb8a39d691ab058c.ttf") format("truetype");
}
@font-face {
  font-family: 'Tungsten-Semibold';
  src: url('../fonts/Tungsten-Semibold.woff2') format('woff2'), url('../fonts/Tungsten-Semibold.woff') format('woff'), url('../fonts/Tungsten-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DINNextLTPro-Bold";
  src: url("assets/fonts/3a88649e176a40a6d80b395ca0ae430d.woff2") format("woff2"), url("assets/fonts/3a88649e176a40a6d80b395ca0ae430d.woff") format("woff"), url("assets/fonts/3a88649e176a40a6d80b395ca0ae430d.ttf") format("truetype");
}
@font-face {
  font-family: "DINNextLTPro-Regular";
  src: url("assets/fonts/93a467f70a3e7b27a9b52a686f351dbe.woff2") format("woff2"), url("assets/fonts/93a467f70a3e7b27a9b52a686f351dbe.woff") format("woff"), url("assets/fonts/93a467f70a3e7b27a9b52a686f351dbe.ttf") format("truetype");
}
.tungsten-Bold {
  font-family: "Tungsten-Bold", sans-serif;
}
.tungsten-SemiBold {
  font-family: "Tungsten-Semibold", sans-serif;
}
.dinNextLTPro-Bold {
  font-family: "DINNextLTPro-Bold", sans-serif;
}
.dinNextLTPro-Regular {
  font-family: "DINNextLTPro-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #ebe8e0;
  font-family: "DINNextLTPro-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}
.l1,
h1,
h2,
h3 {
  font-family: "Tungsten-Bold", sans-serif;
}
.center-v {
  align-items: center;
}
.redbg {
  background: #ff4655;
}
.valorant-button {
  border: 1px solid #ece7e1;
  padding: 3px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none !important;
}
.valorant-button span.outline {
  display: block;
  background: #ff4655;
  font-family: "DINNextLTPro-Bold", sans-serif;
  font-size: 15px;
  color: #ece7e1;
  text-transform: uppercase;
  padding: 20px 80px 15px;
  line-height: 1;
  position: relative;
  overflow: hidden;
}
.valorant-button span.outline span {
  position: relative;
}
.valorant-button span.outline:before {
  content: "";
  position: absolute;
  background: #0f1923;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(-103%) skew(-10deg);
}
.valorant-button span.outline:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #0f1923;
  right: 0;
  bottom: 0;
}
.valorant-button:hover span.outline {
  color: #ebe8e0;
}
.valorant-button:hover span.outline:before {
  transform: translateX(0) skew(-10deg) scale(1.1);
}
.valorant-button.blanc span.outline {
  background: #ebe8e0;
  color: #ff4655;
}
.l1 {
  font-size: 120px;
  line-height: 100px;
}
.l2 {
  font-size: 40px;
  color: #ff4655;
  font-family: "Tungsten-Bold", sans-serif;
  line-height: 40px;
}
.section-title {
  font-size: 80px;
  font-family: "Tungsten-Bold", sans-serif;
  line-height: 80px;
  text-transform: uppercase;
}
#cover-home {
  background: #0f1923;
  position: relative;
}
#cover-home #home-bg {
  width: 100%;
  text-align: center;
}
#cover-home #home-bg img {
  max-width: 100%;
}
#cover-home #intro {
  position: absolute;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ebe8e0;
  background: url("assets/images/dots-home.png") no-repeat center;
  background-size: 100%;
}
@media (min-width: 1300px) {
  #cover-home #intro {
    max-width: 1300px;
    width: 1300px;
  }
}
@media (min-width: 1468px) {
  #cover-home #intro {
    max-width: 1468px;
    width: 1468px;
  }
}
#cover-home #intro .logo {
  margin-bottom: 70px;
}
#cover-home #intro .inner-path {
  max-width: 800px;
  margin: auto;
}
#cover-home #intro .inner-path a {
  margin-top: 40px;
}
#cover-home:after {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  bottom: -1px;
  background: #ece7e1;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}
#section-1 {
  background: url("assets/images/section1-bg.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
}
#section-1 #section-1-inner {
  position: relative;
  padding-top: 40px;
}
#section-1 #section-1-inner .row {
  max-height: 590px;
}
#section-1 #section-1-inner .row .col-lg-7 {
  max-height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section-1 #section-1-inner .row .col-lg-7 .valorant-button {
  max-width: 417px;
  text-align: center;
  border: 1px solid #131d29;
  margin-top: 30px;
}
#section-1 #section-1-inner .row img {
  position: relative;
  z-index: 1;
}
#section-1 #section-1-inner:before {
  content: '';
  width: 142px;
  height: 33px;
  background: #ff4655;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30px 100%);
}
.black-content {
  background-color: #191f27;
  background: url("assets/images/black-content-bg.jpg") no-repeat;
  background-size: cover;
  clip-path: polygon(33% 4%, 50% 7%, 100% 0, 100% 100%, 0 100%, 0 4%);
  margin-top: -30px;
}
#section-2 {
  position: relative;
  padding-top: 170px;
  padding-bottom: 60px;
  color: #fff;
}
#section-2 .container {
  position: relative;
}
#section-2 .container:before {
  content: '';
  width: 142px;
  height: 33px;
  background: #ff4655;
  display: block;
  position: absolute;
  top: -92px;
  left: -80px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0 100%);
}
#section-2 .container .title-count {
  position: relative;
}
#section-2 .container .title-count:after {
  content: '';
  display: block;
  width: calc(100% - 195px);
  height: 1px;
  background: #ff4655;
  position: absolute;
  bottom: 15px;
  right: 0;
}
#section-2 .container .btn-cont {
  margin-top: 50px;
}
#section-2 .container .btn-cont a {
  width: 100%;
  text-align: center;
}
#section-3 .slider-nav {
  color: #fff;
  padding: 0;
}
#section-3 .slider-nav .slick-track {
  margin: 0;
}
#section-3 .slider-nav .slick-track .slick-slide {
  text-align: center;
  outline: none;
}
#section-3 .slider-nav .slick-track .slick-slide a {
  display: block;
  outline: none;
  cursor: pointer;
}
#section-3 .slider-nav .slick-track .slick-slide a .icon-cont {
  text-align: center;
  width: 59px;
  height: 59px;
  margin: auto;
  display: block;
  border: 1px solid #ebe8e0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
#section-3 .slider-nav .slick-track .slick-slide a .icon-cont .svg {
  display: none;
}
#section-3 .slider-nav .slick-track .slick-slide a h3 {
  font-size: 24px;
}
#section-3 .slider-nav .slick-track .slick-slide:hover a .icon-cont {
  border: 1px solid #ff4655;
}
#section-3 .slider-nav .slick-track .slick-slide:hover a .icon-cont .svg {
  display: block;
}
#section-3 .slider-nav .slick-track .slick-slide:hover a .icon-cont .gif {
  display: none;
}
#section-3 .slider-nav .slick-track .slick-slide.slick-current a .icon-cont {
  border: 1px solid #ff4655;
}
#section-3 .slider-nav .slick-track .slick-slide.slick-current a .icon-cont .svg {
  display: block;
}
#section-3 .slider-nav .slick-track .slick-slide.slick-current a .icon-cont .gif {
  display: none;
}
#section-3 .trait {
  display: block;
  position: relative;
}
#section-3 .trait:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ff4655;
  position: absolute;
  top: 100px;
  right: 0;
}
#section-3 .experience-slider {
  margin-top: 20px;
}
#section-3 .experience-slider .slick-slide {
  padding: 0 15px;
}
#section-3 .experience-slider .slick-slide .xp-text {
  color: #fff;
}
#section-3 .experience-slider .slick-slide .xp-text h4 {
  color: #ebe8e0;
  font-size: 48px;
  font-family: "Tungsten-Bold", sans-serif;
  margin-top: 40px;
}
#section-4 #section-4-inner {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ebe8e0;
}
#section-4 #section-4-inner .container {
  border-top: 1px solid #ebe8e0;
}
#section-4 #section-4-inner .container .image-content {
  position: relative;
  margin-top: -60px;
}
#section-4 #section-4-inner .container .section-title {
  display: block;
  text-align: center;
  padding: 0 10px;
  color: #ff4655;
  background: #ebe8e0;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  margin: 0 -15px 40px -15px;
}
#section-4 #section-4-inner .container #btn-cont {
  margin-bottom: 20px;
}
#section-4 #section-4-inner .container #btn-cont a {
  display: block;
  background: #ff4655;
  color: #ebe8e0;
  margin: 10px 0;
  padding: 5px 15px;
  text-decoration: none;
}
#section-4 #section-4-inner .container #btn-cont a .num {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}
#section-4 #section-4-inner .container #btn-cont a .num:before,
#section-4 #section-4-inner .container #btn-cont a .num:after {
  content: '';
  width: 40px;
  height: 1px;
  background: #0f1923;
  display: block;
}
#section-4 #section-4-inner .container #btn-cont a .num span {
  width: 58px;
  height: 58px;
  border: 1px solid #ebe8e0;
  text-align: center;
  line-height: 58px;
  color: #0f1923;
  font-family: "Tungsten-Bold", sans-serif;
  font-size: 40px;
  margin: 0 10px;
}
#section-5 {
  background: #191f28;
  margin-top: -1px;
}
#section-5 #section-5-inner {
  background: #ebe8e0;
  clip-path: polygon(15% 30px, 80% 80px, 100% 0, 100% 100%, 0 100%, 0 30px);
  padding-top: 100px;
  padding-bottom: 80px;
}
#section-5 #tabsfaq {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 20px 0 40px;
  border: none;
}
#section-5 #tabsfaq li a {
  font-size: 12px;
  text-transform: uppercase;
  color: #0f1923;
  letter-spacing: 1px;
  font-family: "DINNextLTPro-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
#section-5 #tabsfaq li a:hover,
#section-5 #tabsfaq li a.active {
  font-weight: bold;
  color: #ff4655;
}
#section-5 .accordion .card {
  background: none;
  border: none;
  border-radius: 0;
}
#section-5 .accordion .card .card-header {
  border-bottom: none;
  border-top: 1px solid #0f1923;
  background: none;
  padding: 0;
}
#section-5 .accordion .card .card-header .btn {
  width: 100%;
  text-align: left;
  padding: 20px;
  font-family: "DINNextLTPro-Bold", sans-serif;
  font-size: 18px;
  color: #080424;
  text-decoration: none;
  position: relative;
}
#section-5 .accordion .card .card-header .btn:after {
  content: url("assets/images/svg/dropdown.svg");
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
}
#section-5 .accordion .card .card-header .btn .faq-left-tag {
  margin-right: 20px;
  font-family: "DINNextLTPro-Bold", sans-serif;
  font-size: 18px;
  color: #ff4655;
}
#section-5 .accordion .card .collapse,
#section-5 .accordion .card .collapsing {
  background: none;
  padding-left: 40px;
  font-size: 14px;
}
#section-5 .accordion .card:last-child {
  border-bottom: 1px solid #0f1923;
}
#section-5 .accordion.active .btn:after {
  content: url("assets/images/svg/dropup.svg") !important;
}
footer .bottom-footer {
  background: #110f1a;
  padding: 38px 0;
  font-size: 12px;
  color: #878787;
}
footer .bottom-footer a {
  color: #ffffff;
  opacity: 0.8;
}
footer .bottom-footer a:hover {
  opacity: 1;
}
footer .bottom-footer .row {
  align-items: center;
}
footer .part-title {
  font-size: 60px;
  color: white;
}
footer .footer-logo {
  display: flex;
}
footer .footer-logo img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
footer .footer-logo .copyright {
  font-size: 15px;
  color: #fff;
  align-self: center;
  margin-bottom: 0;
  margin-left: auto;
}
footer .terms {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "DINNextLTPro-Bold", sans-serif;
}
footer .terms a {
  padding: 0 10px;
  color: #ff4655 !important;
  opacity: 1;
}
footer .footer-links {
  align-items: center;
}
footer .footer-links p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}
footer .footer-links .social-network {
  margin: 0 10px;
  position: relative;
  top: -2px;
}
footer .footer-links .social-network li {
  display: inline-block;
  margin: 0 7px;
}
.cover {
  position: relative;
  background: url("assets/images/partner-head.jpg") center no-repeat #0f1923;
  background-size: cover;
}
.cover .bg {
  width: 100%;
  text-align: center;
}
.cover .bg img {
  max-width: 100%;
  width: 100%;
}
.cover #intro {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ebe8e0;
  padding: 80px 0 100px;
}
@media (min-width: 1300px) {
  .cover #intro {
    max-width: 1300px;
    width: 1300px;
  }
}
@media (min-width: 1468px) {
  .cover #intro {
    max-width: 1468px;
    width: 1468px;
  }
}
.cover #intro .logo {
  margin-bottom: 70px;
}
.cover #intro .logo img {
  width: auto;
}
.cover #intro .inner-path {
  margin: auto;
}
.cover #intro .inner-path .l1 {
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
}
.cover #intro .inner-path a {
  margin-top: 40px;
  width: 40%;
}
.cover:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 30px;
  left: 0;
  bottom: -1px;
  background: #ece7e1;
  clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0% 100%);
}
#sectionPartner-1 {
  padding: 80px 0 50px;
}
#sectionPartner-1 #sectionPartner-1-inner .container {
  background: url("assets/images/part-bg.png") no-repeat;
  background-position: bottom center;
  background-size: contain;
}
#sectionPartner-1 #sectionPartner-1-inner .container form {
  max-width: 1090px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .formtitle {
  margin-bottom: 50px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item {
  margin: 0;
  align-items: center;
  margin-bottom: 20px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item > div {
  padding: 0;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item label {
  margin-right: 10px;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #131d29;
  text-transform: uppercase;
  font-family: "Tungsten-Bold", sans-serif;
  padding: 8px 0 7px;
  border: 1px solid #d7d5d3;
  line-height: 24px;
  margin-bottom: 0;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item input[type=text],
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item input[type=email],
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item input[type=tel] {
  width: 100%;
  height: 40px;
  border: none;
  background: #e0ddd9;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.dropdown {
  width: 100%;
  border-radius: 0;
  height: 40px;
  border: none;
  background: #e0ddd9;
  padding: 0 20px;
  line-height: 40px;
  min-height: 40px;
  min-width: inherit;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.dropdown i {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.dropdown .text {
  font-size: 16px;
  color: #6c757d;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.selection.active.dropdown .menu {
  font-size: 16px;
  border-color: #ff4655;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .iti {
  width: 100%;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .iti #phone_number {
  padding-left: 60px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .iti .iti__selected-flag {
  outline: none;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .note {
  font-size: 12px;
  margin-top: 30px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span {
  background: #e0ddd9;
  height: 40px;
  width: 62px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#facebook:before {
  content: url("assets/images/socials/icon-facebook-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#twitter:before {
  content: url("assets/images/socials/icon-twitter-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#instagram:before {
  content: url("assets/images/socials/icon-instagram-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#youtube:before {
  content: url("assets/images/socials/icon-youtube-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#twitch:before {
  content: url("assets/images/socials/icon-twitch-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked {
  background: #ff4655;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#facebook:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#facebook:before {
  content: url("assets/images/socials/icon-facebook-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#twitter:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#twitter:before {
  content: url("assets/images/socials/icon-twitter-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#instagram:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#instagram:before {
  content: url("assets/images/socials/icon-instagram-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#youtube:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#youtube:before {
  content: url("assets/images/socials/icon-youtube-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#twitch:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#twitch:before {
  content: url("assets/images/socials/icon-twitch-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont {
  max-width: 450px;
  padding: 50px 15px;
  margin: auto;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont .valorant-button {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #0f1923;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont a span.outline {
  background: #0f1923;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont a span.outline::after {
  background: #ff4655;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont a span.outline::before {
  background: #ff4655;
}
#thank-you .cover {
  background: url("assets/images/thank.jpg") center no-repeat;
  background-size: cover;
  height: calc(100vh - 155px);
}
#thank-you .cover:after {
  display: none;
}
#thank-you .cover .bg {
  height: 100%;
}
#thank-you .cover .bg .container {
  height: 100%;
  display: flex;
}
#thank-you .cover .bg .container #intro {
  max-width: 640px;
  margin: auto;
  text-align: center;
}
#thank-you .cover .bg .container #intro .l1 {
  font-size: 180px;
  line-height: 180px;
}
#thank-you .cover .bg .container #intro .l2 {
  font-family: "DINNextLTPro-Regular", sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
}
#thank-you .cover .bg .container #intro p {
  font-size: 16px;
}
#thank-you .cover .bg .container #intro a {
  width: auto;
}
.image-content img {
  max-width: 100%;
}
@media (max-width: 767px) {
  body p {
    line-height: 1.2;
  }
  .l1 {
    font-size: 60px;
    line-height: 62px;
  }
  .l2 {
    font-size: 32px;
  }
  .section-title {
    font-size: 54px;
    line-height: 54px;
  }
  .image-content img {
    max-width: 100%;
  }
  #cover-home #intro {
    position: relative;
    padding-bottom: 50px;
  }
  #cover-home #intro .logo {
    margin-bottom: 20px;
  }
  #cover-home #intro .inner-path p {
    line-height: 24px;
  }
  #cover-home #intro .inner-path a {
    margin-top: 10px;
  }
  #cover-home:after {
    width: 50px;
    height: 50px;
  }
  #section-1 #section-1-inner {
    padding-top: 80px;
  }
  #section-1 #section-1-inner .row {
    max-height: inherit;
  }
  #section-1 #section-1-inner .row .image-content {
    text-align: center ;
  }
  #section-1 #section-1-inner .row .image-content img {
    max-width: 100%;
    margin: auto;
  }
  #section-1 #section-1-inner .row .valorant-button {
    margin-left: auto;
    margin-right: auto;
  }
  .black-content {
    clip-path: polygon(33% 40px, 50% 80px, 100% 0, 100% 100%, 0 100%, 0 40px);
    margin-top: -20px;
  }
  #section-2 {
    padding-top: 110px;
  }
  #section-2 .container:before {
    top: -80px;
  }
  #section-2 .container .btn-cont {
    margin-top: 20px;
  }
  #section-2 .container .btn-cont a {
    margin: 10px auto;
    max-width: 375px;
    display: block;
  }
  #section-3 .experience-slider .slick-slide img {
    max-width: 100%;
  }
  #section-3 .experience-slider .slick-slide .xp-text h4 {
    margin-top: 15px;
    font-size: 38px;
  }
  #section-4 #section-4-inner {
    padding-bottom: 20px;
  }
  #section-5 #tabsfaq {
    max-width: 100%;
    justify-content: space-evenly;
  }
  #section-5 .card-body {
    padding: 0;
    font-size: 16px;
  }
  #section-5 .card-body p {
    line-height: 20px;
  }
  footer .footer-row {
    display: flex;
    flex-direction: column;
  }
  footer .footer-logo {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-logo .copyright {
    margin: 10px 0 15px !important;
  }
  footer .bottom-footer .terms a {
    display: block;
  }
  footer .footer-links {
    display: block !important;
    text-align: center;
  }
  footer .footer-links p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer .footer-links ul {
    padding-left: 0;
  }
  .cover #intro .inner-path .l1 {
    font-size: 60px;
  }
  .cover #intro .inner-path a {
    display: block;
    width: 100%;
    margin: 10px auto 0;
    max-width: 400px;
  }
  #sectionPartner-1 #sectionPartner-1-inner .container form .form-item label {
    margin: 0 0 10px;
  }
  #thank-you .cover {
    height: auto;
  }
  #thank-you .cover .bg .container #intro .l1 {
    font-size: 100px;
    line-height: 100px;
  }
  #thank-you .cover .bg .container #intro .l2 {
    margin-bottom: 30px;
    line-height: 32px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .l1 {
    font-size: 80px;
    line-height: 82px;
  }
  .l2 {
    font-size: 38px;
  }
  .section-title {
    font-size: 62px;
    line-height: 62px;
  }
  #cover-home .container {
    position: relative;
    margin-top: -280px;
  }
  #cover-home #intro {
    position: relative;
    padding-bottom: 50px;
  }
  #cover-home #intro .logo {
    margin-bottom: 40px;
  }
  #cover-home #intro .inner-path p {
    line-height: 24px;
  }
  #cover-home #intro .inner-path a {
    margin-top: 10px;
  }
  #cover-home:after {
    width: 50px;
    height: 50px;
  }
  #section-1 #section-1-inner {
    padding-top: 80px;
  }
  #section-1 #section-1-inner .row {
    max-height: inherit;
  }
  #section-1 #section-1-inner .row .image-content {
    text-align: center ;
  }
  #section-1 #section-1-inner .row .image-content img {
    max-width: 100%;
    margin: auto;
  }
  #section-1 #section-1-inner .row .valorant-button {
    margin-left: auto;
    margin-right: auto;
  }
  .black-content {
    clip-path: polygon(33% 40px, 50% 80px, 100% 0, 100% 100%, 0 100%, 0 40px);
    margin-top: -20px;
  }
  #section-2 {
    padding-top: 120px;
  }
  #section-2 .container:before {
    top: -80px;
  }
  #section-2 .container .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #section-2 .container .btn-cont {
    margin-top: 20px;
  }
  #section-2 .container .btn-cont a {
    margin: 10px auto;
    max-width: 375px;
    display: block;
  }
  #section-3 .experience-slider .slick-slide img {
    max-width: 100%;
  }
  #section-3 .experience-slider .slick-slide .xp-text h4 {
    margin-top: 15px;
    font-size: 38px;
  }
  #section-5 #tabsfaq {
    max-width: 100%;
    justify-content: center;
  }
  #section-5 #tabsfaq li {
    margin: 0 10px;
  }
  footer .footer-logo {
    flex-direction: column;
    justify-content: center;
  }
  footer .footer-logo p {
    margin-top: 10px;
    margin-left: inherit !important;
  }
  footer .footer-links {
    flex-direction: column;
  }
  footer .footer-links .social-network {
    padding-left: 0;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #sectionPartner-1 #sectionPartner-1-inner .container form .form-item label {
    margin: 0 0 10px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .l1 {
    font-size: 100px;
    line-height: 102px;
  }
  .l2 {
    font-size: 38px;
  }
  .section-title {
    font-size: 62px;
    line-height: 62px;
  }
  #cover-home .container {
    position: relative;
    margin-top: -350px;
  }
  #cover-home #intro {
    position: relative;
    padding-bottom: 50px;
  }
  #cover-home #intro .logo {
    margin-bottom: 40px;
  }
  #cover-home #intro .inner-path p {
    line-height: 24px;
  }
  #cover-home #intro .inner-path a {
    margin-top: 10px;
  }
  #cover-home:after {
    width: 50px;
    height: 50px;
  }
  #section-1 #section-1-inner {
    padding-top: 80px;
  }
  #section-1 #section-1-inner .row {
    max-height: inherit;
  }
  #section-1 #section-1-inner .row .image-content {
    text-align: center ;
  }
  #section-1 #section-1-inner .row .image-content img {
    max-width: 100%;
    margin: auto;
  }
  .black-content {
    clip-path: polygon(35% 40px, 50% 100px, 100% 0, 100% 100%, 0 100%, 0 40px);
    margin-top: -20px;
  }
  #section-2 {
    padding-top: 130px;
  }
  #section-2 .container .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #section-2 .container .btn-cont {
    max-width: 670px;
    margin: 20px auto 0;
  }
  #section-2 .container .btn-cont a {
    margin: 10px auto;
    max-width: 375px;
    display: block;
  }
  #section-3 .experience-slider .slick-slide img {
    max-width: 100%;
  }
  #section-5 #tabsfaq {
    max-width: 100%;
    justify-content: center;
  }
  #section-5 #tabsfaq li {
    margin: 0 10px;
  }
  footer .footer-logo {
    flex-direction: column;
    justify-content: center;
  }
  footer .footer-logo p {
    margin-top: 10px;
    margin-left: inherit !important;
  }
  footer .footer-links {
    flex-direction: column;
  }
  footer .footer-links .social-network {
    padding-left: 0;
    margin-top: 10px;
  }
}
@media (min-width: 1201px) and (max-width: 1467px) {
  #cover-home #intro {
    margin: auto !important;
    max-width: 100%;
    width: 100%;
  }
  #cover-home #intro .logo {
    margin-bottom: 50px;
  }
  #cover-home #intro .inner-path p {
    line-height: 24px;
  }
  #cover-home #intro .inner-path a {
    margin-top: 20px;
  }
  #cover-home #intro .inner-path h1 {
    font-size: 90px;
    line-height: 90px;
  }
  #section-3 .experience-slider .slick-slide img {
    max-width: 100%;
  }
  #section-4 #section-4-inner .container .section-title {
    margin: 0 0 40px 0;
  }
  footer .footer-links .social-network {
    padding-left: 0;
  }
  #section-5 #tabsfaq {
    max-width: 100%;
  }
}
