.cover {
  position: relative;
  background: url("../images/partner-head.jpg") center no-repeat #0f1923;
  background-size: cover;
}
.cover .bg {
  width: 100%;
  text-align: center;
}
.cover .bg img {
  max-width: 100%;
  width: 100%;
}
.cover #intro {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ebe8e0;
  padding: 80px 0 100px;
}
@media (min-width: 1300px) {
  .cover #intro {
    max-width: 1300px;
    width: 1300px;
  }
}
@media (min-width: 1468px) {
  .cover #intro {
    max-width: 1468px;
    width: 1468px;
  }
}
.cover #intro .logo {
  margin-bottom: 70px;
}
.cover #intro .logo img {
  width: auto;
}
.cover #intro .inner-path {
  margin: auto;
}
.cover #intro .inner-path .l1 {
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
}
.cover #intro .inner-path a {
  margin-top: 40px;
  width: 40%;
}
.cover:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 30px;
  left: 0;
  bottom: -1px;
  background: #ece7e1;
  clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0% 100%);
}
#sectionPartner-1 {
  padding: 80px 0 50px;
}
#sectionPartner-1 #sectionPartner-1-inner .container {
  background: url("../images/part-bg.png") no-repeat;
  background-position: bottom center;
  background-size: contain;
}
#sectionPartner-1 #sectionPartner-1-inner .container form {
  max-width: 1090px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .formtitle {
  margin-bottom: 50px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item {
  margin: 0;
  align-items: center;
  margin-bottom: 20px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item > div {
  padding: 0;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item label {
  margin-right: 10px;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #131d29;
  text-transform: uppercase;
  font-family: "Tungsten-Bold", sans-serif;
  padding: 8px 0 7px;
  border: 1px solid #d7d5d3;
  line-height: 24px;
  margin-bottom: 0;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item input[type=text],
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item input[type=email],
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item input[type=tel] {
  width: 100%;
  height: 40px;
  border: none;
  background: #e0ddd9;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.dropdown {
  width: 100%;
  border-radius: 0;
  height: 40px;
  border: none;
  background: #e0ddd9;
  padding: 0 20px;
  line-height: 40px;
  min-height: 40px;
  min-width: inherit;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.dropdown i {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.dropdown .text {
  font-size: 16px;
  color: #6c757d;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .ui.selection.active.dropdown .menu {
  font-size: 16px;
  border-color: #ff4655;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .iti {
  width: 100%;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .iti #phone_number {
  padding-left: 60px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .form-item .iti .iti__selected-flag {
  outline: none;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .note {
  font-size: 12px;
  margin-top: 30px;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span {
  background: #e0ddd9;
  height: 40px;
  width: 62px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#facebook:before {
  content: url("../images/socials/icon-facebook-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#twitter:before {
  content: url("../images/socials/icon-twitter-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#instagram:before {
  content: url("../images/socials/icon-instagram-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#youtube:before {
  content: url("../images/socials/icon-youtube-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span#twitch:before {
  content: url("../images/socials/icon-twitch-g.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked {
  background: #ff4655;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#facebook:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#facebook:before {
  content: url("../images/socials/icon-facebook-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#twitter:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#twitter:before {
  content: url("../images/socials/icon-twitter-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#instagram:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#instagram:before {
  content: url("../images/socials/icon-instagram-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#youtube:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#youtube:before {
  content: url("../images/socials/icon-youtube-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span:hover#twitch:before,
#sectionPartner-1 #sectionPartner-1-inner .container form .social-cont span.checked#twitch:before {
  content: url("../images/socials/icon-twitch-b.svg");
  display: inline-block;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont {
  max-width: 450px;
  padding: 50px 15px;
  margin: auto;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont .valorant-button {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #0f1923;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont a span.outline {
  background: #0f1923;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont a span.outline::after {
  background: #ff4655;
}
#sectionPartner-1 #sectionPartner-1-inner .container form .btn-cont a span.outline::before {
  background: #ff4655;
}
