.image-content img{
  max-width: 100%;
}
@media (max-width: 767px){
  body p{
    line-height: 1.2;
  }
  .l1{
    font-size: 60px;
    line-height: 62px;
  }
  .l2{
    font-size: 32px;
  }
  .section-title{
    font-size: 54px;
    line-height: 54px;
  }
  .image-content img{
    max-width: 100%;
  }
  #cover-home{
    #intro{
      position: relative;
      padding-bottom: 50px;
      .logo{
        margin-bottom: 20px;
      }
      .inner-path {
        p {
          line-height: 24px;
        }
        a{
          margin-top: 10px;
        }
      }
    }
    &:after{
      width: 50px;
      height: 50px;
    }
  }
  #section-1{
    #section-1-inner {
      padding-top: 80px;
      .row{
        max-height: inherit;
        .image-content {
          text-align: center ;
          img {
            max-width: 100%;
            margin: auto;
          }
        }
        .valorant-button{
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .black-content{
    clip-path: polygon(33% 40px, 50% 80px, 100% 0, 100% 100%, 0 100%, 0 40px);
    margin-top: -20px;
  }
  #section-2{
    padding-top: 110px;
    .container:before{
      top: -80px;
    }
    .container{
      .btn-cont{
        margin-top: 20px;
        a{
          margin: 10px auto;
          max-width: 375px;
          display: block;
        }
      }
    }
  }
  #section-3{
    .experience-slider{
      .slick-slide{
        img{
          max-width: 100%;
        }
        .xp-text h4{
          margin-top: 15px;
          font-size: 38px;
        }
      }
    }
  }
  #section-4 #section-4-inner{
    padding-bottom: 20px;
  }
  #section-5 #tabsfaq{
    max-width: 100%;
    justify-content: space-evenly;
  }
  #section-5 .card-body{
    padding: 0;
    font-size: 16px;
    p{
      line-height: 20px;
    }
  }
  footer {
    .footer-row {
      display: flex;
      flex-direction: column;
    }
    .footer-logo {
      flex-direction: column;
      align-items: center;
      .copyright {
        margin: 10px 0 15px !important;
      }
    }
    .bottom-footer .terms a {
      display: block;
    }
    .footer-links {
      display: block !important;
      text-align: center;
      p {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ul{
        padding-left: 0;
      }
    }
  }
  .cover #intro .inner-path .l1{
    font-size: 60px;
  }
  .cover #intro .inner-path a{
    display: block;
    width: 100%;
    margin: 10px auto 0;
    max-width: 400px;
  }
  #sectionPartner-1 #sectionPartner-1-inner .container form .form-item label{
    margin: 0 0 10px;
  }
  #thank-you .cover{
    height: auto;
  }
  #thank-you .cover .bg .container #intro .l1 {
    font-size: 100px;
    line-height: 100px;
  }
  #thank-you .cover .bg .container #intro .l2{
    margin-bottom: 30px;
    line-height: 32px;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .l1{
    font-size: 80px;
    line-height: 82px;
  }
  .l2{
    font-size: 38px;
  }
  .section-title{
    font-size: 62px;
    line-height: 62px;
  }
  #cover-home{
    .container{
      position: relative;
      margin-top: -280px;
    }
    #intro{
      position: relative;
      padding-bottom: 50px;
      .logo{
        margin-bottom: 40px;
      }
      .inner-path {
        p {
          line-height: 24px;
        }
        a{
          margin-top: 10px;
        }
      }
    }
    &:after{
      width: 50px;
      height: 50px;
    }
  }
  #section-1{
    #section-1-inner {
      padding-top: 80px;
      .row{
        max-height: inherit;
        .image-content {
          text-align: center ;
          img {
            max-width: 100%;
            margin: auto;
          }
        }
        .valorant-button{
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .black-content{
    clip-path: polygon(33% 40px, 50% 80px, 100% 0, 100% 100%, 0 100%, 0 40px);
    margin-top: -20px;
  }
  #section-2{
    padding-top: 120px;
    .container:before{
      top: -80px;
    }
    .container{
      .col-md-7{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .btn-cont{
        margin-top: 20px;
        a{
          margin: 10px auto;
          max-width: 375px;
          display: block;
        }
      }
    }
  }
  #section-3{
    .experience-slider{
      .slick-slide{
        img{
          max-width: 100%;
        }
        .xp-text h4{
          margin-top: 15px;
          font-size: 38px;
        }
      }
    }
  }
  #section-5 #tabsfaq{
    max-width: 100%;
    justify-content: center;
    li{
      margin: 0 10px;
    }
  }
  footer {
    .footer-logo {
      flex-direction: column;
      justify-content: center;
      p{
        margin-top: 10px;
        margin-left: inherit !important;
      }
    }
    .footer-links {
      flex-direction: column;
      .social-network{
        padding-left: 0;
        margin-top: 10px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px){
  #sectionPartner-1 #sectionPartner-1-inner .container form .form-item label{
    margin: 0 0 10px;
  }
}
@media (min-width: 993px) and (max-width: 1200px){
  .l1{
    font-size: 100px;
    line-height: 102px;
  }
  .l2{
    font-size: 38px;
  }
  .section-title{
    font-size: 62px;
    line-height: 62px;
  }
  #cover-home{
    .container{
      position: relative;
      margin-top: -350px;
    }
    #intro{
      position: relative;
      padding-bottom: 50px;
      .logo{
        margin-bottom: 40px;
      }
      .inner-path {
        p {
          line-height: 24px;
        }
        a{
          margin-top: 10px;
        }
      }
    }
    &:after{
      width: 50px;
      height: 50px;
    }
  }
  #section-1{
    #section-1-inner {
      padding-top: 80px;
      .row{
        max-height: inherit;
        .image-content {
          text-align: center ;
          img {
            max-width: 100%;
            margin: auto;
          }
        }
      }
    }
  }
  .black-content{
    clip-path: polygon(35% 40px, 50% 100px, 100% 0, 100% 100%, 0 100%, 0 40px);
    margin-top: -20px;
  }
  #section-2{
    padding-top: 130px;
    .container{
      .col-md-7{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .btn-cont{
        max-width: 670px;
        margin:20px auto 0;
        a{
          margin: 10px auto;
          max-width: 375px;
          display: block;
        }
      }
    }
  }
  #section-3{
    .experience-slider{
      .slick-slide{
        img{
          max-width: 100%;
        }
      }
    }
  }
  #section-5 #tabsfaq{
    max-width: 100%;
    justify-content: center;
    li{
      margin: 0 10px;
    }
  }
  footer {
    .footer-logo {
      flex-direction: column;
      justify-content: center;
      p{
        margin-top: 10px;
        margin-left: inherit !important;
      }
    }
    .footer-links {
      flex-direction: column;
      .social-network{
        padding-left: 0;
        margin-top: 10px;
      }
     }
  }
}
@media (min-width: 1201px) and (max-width: 1467px){
  #cover-home{
    #intro{
      margin: auto !important;
      max-width: 100%;
      width: 100%;
      .logo{
        margin-bottom: 50px;
      }
      .inner-path {
        p {
          line-height: 24px;
        }
        a{
          margin-top: 20px;
        }
        h1{
          font-size: 90px;
          line-height: 90px;
        }
      }
    }
  }
  #section-3 .experience-slider .slick-slide img {
    max-width: 100%;
  }
  #section-4 #section-4-inner .container .section-title{
    margin: 0 0 40px 0;
  }
  footer {
    .footer-links {
      .social-network{
        padding-left: 0;
      }
    }
  }
  #section-5 #tabsfaq{
    max-width: 100%;
  }
}