#thank-you .cover {
  background: url("../images/thank.jpg") center no-repeat;
  background-size: cover;
  height: calc(100vh - 155px);
}
#thank-you .cover:after {
  display: none;
}
#thank-you .cover .bg {
  height: 100%;
}
#thank-you .cover .bg .container {
  height: 100%;
  display: flex;
}
#thank-you .cover .bg .container #intro {
  max-width: 640px;
  margin: auto;
  text-align: center;
}
#thank-you .cover .bg .container #intro .l1 {
  font-size: 180px;
  line-height: 180px;
}
#thank-you .cover .bg .container #intro .l2 {
  font-family: "DINNextLTPro-Regular", sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
}
#thank-you .cover .bg .container #intro p {
  font-size: 16px;
}
#thank-you .cover .bg .container #intro a {
  width: auto;
}
